{% extends 'base.html' %}
{% load static %}
{% block breadcrumb %}
    <div class="container">
        <a href="https://metabase-00.herokuapp.com/" rel="nofollow noopener" target="_blank">
            <img class="rounded mx-auto d-block" src="{% static 'img/user_analysis.png' %}" alt="Unicorn Logo" style="height: 300px;">
        </a>
    </div>

{% endblock %}

{% block content %}
  <table class="table">
    <thead class="thead-inverse">
      <tr>
        <th>About Serverless:</th>
      </tr>
    </thead>
    <tbody>
    </tbody>
  </table>
    <p>
      I had the pleasure of building a BI dashboard from scratch for one of my first projects. After some research I decided to use Metabase for the front end data visualization because it's free, easy to use and it looks nice!
    </p>
    <p>Check out a sample of metabase by clicking on the image above!</p>
    <p>Use the username: test_user and password: n0tag00dpassw0rd to log in and look around!</p>
{% endblock %}